          
@media screen and (max-width: 960px) 
{
  #serviceHide 
    {
   display: none;   
  }
    
                      
}
               
@media screen and (min-width: 960px) 
{
  #serviceShowSide 
    {
   display: block;   
  }
           #auditing
    {
       display: none;
    }
            #pentesting
    {
      display: none;
    }
    #secure{
       display: none;
        
    }
    
    #serviceTitleSide{
        display: none;
    }
                      
}             
       

#serviceHovered
{
display:none;
}

#serviceLinks:hover
{
	  width: 100%;
	background:#f2f2f2;
    border-radius: 6px;
	color: red;
  
	font:bold;
	margin-left: 15px;	
	cursor: pointer; 
	}
	#serviceLinks
{
	
	 
	color:#222;
}

.pghd {
    position: relative;
    padding-top: 35px;
    padding-bottom: 20px;
/*    background-image: url(images/tit.png);*/
    background-size: 220px;
    background-position: top 10px;
    background-repeat: repeat-x;
    background-color: #fff
}

.pghd .pghdtit {
     
    text-transform: capitalize;
    color: #0f1719;
    font-weight: bold;
    letter-spacing: normal;
    /*margin-top: 1.0em*/
	margin-top:15px;
}
	